@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexus - Disk Usage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/js/index.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>
    <header>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <h1>Nexus - Disk Usage</h1>
            <div id="chart_div" style="width: 900px; height: 500px;"></div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
</body>
</html>
